body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

:root {
	--grey: #282828;
	--lightblue: #9fc9fc;
	--skyblue: #6fa6fb;
	--purple: #8d91d6;
	--pink: #e1a5d5;
	--snow: #f0eefd;
}
